<section id="new-post">
  <form action="/posts" method="post">
    Message: <input type="text" name="message">
    Tags: <input type="text" name="tags">
    <input type="submit" value="Post message!">
  </form>
</section>

<ul>
  <% @posts.each do |post| %>
    <li><a href="<%= post %>"><%= post.message %></a></li>
  <% end %>
</ul>
